.flex {
  --flex-gap: 16px;
  --flex-gap-xs: 4px;
  --flex-gap-sm: 8px;
  --flex-gap-lg: 24px;
  --flex-gap-xl: 32px;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
}
.flex,
.flex.flex-row {
  flex-direction: row;
}
.flex.flex-column {
  flex-direction: column;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}
.flex.flex-justify-flex-start {
  justify-content: flex-start;
}
.flex.flex-justify-flex-end {
  justify-content: flex-end;
}
.flex.flex-justify-center {
  justify-content: center;
}
.flex.flex-justify-space-between {
  justify-content: space-between;
}
.flex.flex-justify-space-around {
  justify-content: space-around;
}
.flex.flex-justify-space-evenly {
  justify-content: space-evenly;
}
.flex.flex-align-flex-start {
  align-items: flex-start;
}
.flex.flex-align-flex-end {
  align-items: flex-end;
}
.flex.flex-align-center {
  align-items: center;
}
.flex.flex-align-stretch {
  align-items: stretch;
}
.flex.flex-align-baseline {
  align-items: baseline;
}
.flex.flex-gap {
  gap: var(--flex-gap);
}
.flex.flex-gap-xs {
  gap: var(--flex-gap-xs);
}
.flex.flex-gap-sm {
  gap: var(--flex-gap-sm);
}
.flex.flex-gap-lg {
  gap: var(--flex-gap-lg);
}
.flex.flex-gap-xl {
  gap: var(--flex-gap-xl);
}
