.ProseMirror {
  padding: 16px;
  outline: none;
  border-top: 1px solid rgb(var(--color-border));
}
.tiptap {
  img {
    display: block;
    height: auto;
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 3px solid rgb(var(--green-7));
    }
  }
}
