.tabs {
  --tabs-item-margin-bottom: -1px;
  --tabs-horizontal-line-height: 56px;
  --tabs-padding-inline: 16px;
  display: flex;
  align-items: center;
  border-bottom: var(--border-width) var(--border-style)
    rgb(var(--color-border));
}
.tabs .tab-item {
  cursor: pointer;
  outline: none;
  border-bottom: var(--border-width) var(--border-style) transparent;
  padding-inline: var(--tabs-padding-inline);
  text-decoration: none;
  font-size: var(--font-size);
  line-height: var(--tabs-horizontal-line-height);
  color: rgb(var(--color-text));
  margin-bottom: var(--tabs-item-margin-bottom);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.tabs .tab-item:hover {
  color: rgb(var(--color-primary));
}
.tabs .tab-item.active {
  border-color: rgb(var(--color-primary));
  color: rgb(var(--color-primary));
  text-shadow: 0 0 0.25px currentcolor;
}
.tabs .tab-panel {
  padding: 16px;
}
